<!DOCTYPE html>
<html>
<head>
    <title>Jawaban Siswa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>

<div class="container">
    <h2>Pilih Siswa</h2>

    <table>
        <tr>
            <th>NIS</th>
            <th>Nama</th>
            <th>Aksi</th>
        </tr>
        {% for s in siswa %}
        <tr>
            <td>{{ s.nis }}</td>
            <td>{{ s.nama }}</td>
            <td>
                <a class="btn btn-primary"
                   href="/admin/jawaban/{{ s.id_siswa }}/">
                   Lihat Jawaban
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
